{"author" "Ryan S. Elliott"
 "contributor-id" "b645a915-d1fa-4155-a3da-65469f990011"
 "description" "This Model Driver implements a C^2 continuous Morse pair potential with its tail given by a fifth-order polynomial.  It takes five parameters: (1) the cutoff separation in angstroms, (2) the transition percentage defining the size of the tail, (3) the epsilon parameter in eV, (4) the C parameter in inverse angstroms, and (5) the equilibrium pair separation \"Rzero\" in angstroms.  The potential is C^2 continuous and has zero for its value and first and second derivatives at the cutoff separation."
 "domain" "openkim.org"
 "extended-id" "Pair_Morse_Smoothed__MD_093895395358_001"
 "kim-api-version" "1.6"
 "maintainer-id" "b645a915-d1fa-4155-a3da-65469f990011"
 "publication-year" "2015"
 "source-citations" [{"author" "J. E. Jones"
                      "doi" "10.1098/rspa.1924.0082"
                      "journal" "Proceedings of the Royal Society of London A: Mathematical, Physical and Engineering Sciences"
                      "number" "738"
                      "pages" "463--477"
                      "publisher" "The Royal Society"
                      "recordkey" "MD_093895395358_001a"
                      "recordtype" "article"
                      "title" "On the Determination of Molecular Fields. II. {F}rom the Equation of State of a Gas"
                      "volume" "106"
                      "year" "1924"}]
 "title" "This is a Model Driver for a C^2 continuous Morse pair potential with polynomial tail"}
