{"author" "Ellad Tadmor"
 "contributor-id" "360c0aed-48ce-45f6-ba13-337f12a531e8"
 "description" "This is a driver for the Lennard-Jones (LJ) 6-12 pair potential model, uniformly shifted by a constant value so as to have zero energy at the cutoff radius.  The driver reads in the cutoff radius and the LJ parameters energy (in eV) and sigma (in Angstrom)."
 "disclaimer" "The original Lennard-Jones (LJ) potential does not have a cutoff.  Introducing a cutoff and shifting the potential will change its predictions.  The LJ potential is appropriate for noble gas elements and other systems where van der Waals interactions are dominant."
 "domain" "openkim.org"
 "extended-id" "Pair_Lennard_Jones_Shifted__MD_498634107543_003"
 "kim-api-version" "2.0"
 "maintainer-id" "360c0aed-48ce-45f6-ba13-337f12a531e8"
 "publication-year" "2018"
 "source-citations" [{"author" "J. E. Jones"
                      "doi" "10.1098/rspa.1924.0081"
                      "journal" "Proceedings of the Royal Society of London A: Mathematical, Physical and Engineering Sciences"
                      "number" "738"
                      "pages" "441--462"
                      "publisher" "The Royal Society"
                      "recordkey" "MD_498634107543_003a"
                      "recordtype" "article"
                      "title" "On the Determination of Molecular Fields. {I}. {F}rom the Variation of the Viscosity of a Gas with Temperature"
                      "volume" "106"
                      "year" "1924"}
                     {"author" "J. E. Jones"
                      "doi" "10.1098/rspa.1924.0082"
                      "journal" "Proceedings of the Royal Society of London A: Mathematical, Physical and Engineering Sciences"
                      "number" "738"
                      "pages" "463--477"
                      "publisher" "The Royal Society"
                      "recordkey" "MD_498634107543_003b"
                      "recordtype" "article"
                      "title" "On the Determination of Molecular Fields. {II}. {F}rom the Equation of State of a Gas"
                      "volume" "106"
                      "year" "1924"}
                     {"author" "J. E. Lennard-Jones"
                      "doi" "10.1098/rspa.1925.0147"
                      "journal" "Proceedings of the Royal Society of London A: Mathematical, Physical and Engineering Sciences"
                      "number" "752"
                      "pages" "584--497"
                      "publisher" "The Royal Society"
                      "recordkey" "MD_498634107543_003c"
                      "recordtype" "article"
                      "title" "On the Forces between Atoms and Ions"
                      "volume" "109"
                      "year" "1925"}]
 "title" "Driver for the Lennard-Jones model uniformly shifted to have zero energy at the cutoff radius"}
