{"author" "Mark R. Gilbert"
 "contributor-id" "c2a3340e-1ed1-47b0-86d1-0fb98fa0375d"
 "description" "EAM potential for bcc metals, with cubic splines for pairwise repulsive part and embedded atom pair density. Generalized to be used with two different functional forms for embedding function. For studying atomic defects at moderate temperatures. Also includes option to read in short range Biersack-Ziegler Coloumb potential and associated interpolating function to link to outer EAM part - useful for cascade simulations."
 "disclaimer" ""
 "domain" "openkim.org"
 "extended-id" "model_driver_PF_cubic_splines__MD_620624592962_002"
 "kim-api-version" "2.0"
 "maintainer-id" "c2a3340e-1ed1-47b0-86d1-0fb98fa0375d"
 "publication-year" "2018"
 "source-citations" [{"author" "Derlet, P. M. and Nguyen-Manh, D. and Dudarev, S. L."
                      "doi" "10.1103/PhysRevB.76.054107"
                      "issue" "5"
                      "journal" "Physical Review B"
                      "month" "Aug"
                      "numpages" "22"
                      "pages" "054107"
                      "publisher" "American Physical Society"
                      "recordkey" "MD_620624592962_002a"
                      "recordtype" "article"
                      "title" "Multiscale modeling of crowdion and vacancy defects in body-centered-cubic transition metals"
                      "volume" "76"
                      "year" "2007"}
                     {"author" "M. I. Mendelev and S. Han and D. J. Srolovitz and G. J. Ackland and D. Y. Sun and M. Asta"
                      "doi" "10.1080/14786430310001613264"
                      "journal" "Philosophical Magazine"
                      "number" "35"
                      "pages" "3977-3994"
                      "publisher" "Taylor \\& Francis"
                      "recordkey" "MD_620624592962_002b"
                      "recordtype" "article"
                      "title" "Development of new interatomic potentials appropriate for crystalline and liquid iron"
                      "volume" "83"
                      "year" "2003"}]
 "title" "EAM potential with cubic splines function for both pairwise repulsive part and atom pair density"}
