{"author" "Ryan S. Elliott"
 "contributor-id" "b645a915-d1fa-4155-a3da-65469f990011"
 "description" "This Model Driver implements the Morse pair potential.  It takes four parameters: (1) the cutoff separation in angstroms, (2) the epsilon parameter in eV, (3) the C parameter in inverse angstroms, and (4) the equilibrium pair separation \"Rzero\" in angstroms.  The potential is shifted in energy so that it takes a value of zero eV at the cutoff separation."
 "disclaimer" "none"
 "domain" "openkim.org"
 "extended-id" "Pair_Morse_Shifted__MD_552566534109_001"
 "kim-api-version" "1.6"
 "maintainer-id" "b645a915-d1fa-4155-a3da-65469f990011"
 "publication-year" "2014"
 "source-citations" [{"author" "J. E. Jones"
                      "doi" "10.1098/rspa.1924.0082"
                      "journal" "Proceedings of the Royal Society of London A: Mathematical, Physical and Engineering Sciences"
                      "number" "738"
                      "pages" "463--477"
                      "publisher" "The Royal Society"
                      "recordkey" "MD_552566534109_001a"
                      "recordtype" "article"
                      "title" "On the Determination of Molecular Fields. II. {F}rom the Equation of State of a Gas"
                      "volume" "106"
                      "year" "1924"}]
 "title" "This is a Model Driver for the Morse pair potential shifted to zero energy at cutoff separation."}
