{"author" "Ryan S. Elliott"
 "contributor-id" "b645a915-d1fa-4155-a3da-65469f990011"
 "description" "This model implements the temperature-dependent Effective Interaction Potential for AuCd of Guthikonda and Elliott 2011.  The potential is shifted in energy so that it takes a value of zero eV at the cutoff separation."
 "disclaimer" "none"
 "domain" "openkim.org"
 "extended-id" "MorseEIP_GuthikondaElliott_2011_AuCd__MO_703849496106_002"
 "kim-api-version" "2.0"
 "maintainer-id" "b645a915-d1fa-4155-a3da-65469f990011"
 "model-driver" "MorseEIP_GuthikondaElliott_2009__MD_429561112321_002"
 "publication-year" "2018"
 "source-citations" [{"author" "Guthikonda, Venkata Suresh and Elliott, Ryan S."
                      "doi" "10.1007/s00161-009-0109-1"
                      "issn" "1432-0959"
                      "journal" "Continuum Mechanics and Thermodynamics"
                      "month" "Sep"
                      "number" "4"
                      "pages" "269--295"
                      "recordkey" "MO_703849496106_002a"
                      "recordtype" "article"
                      "title" "An effective interaction potential model for the shape memory alloy {AuCd}"
                      "volume" "21"
                      "year" "2009"}
                     {"author" "Guthikonda, Venkata Suresh and Elliott, Ryan S."
                      "doi" "10.1007/s00161-010-0169-2"
                      "issn" "1432-0959"
                      "journal" "Continuum Mechanics and Thermodynamics"
                      "month" "Mar"
                      "number" "2"
                      "pages" "177--183"
                      "recordkey" "MO_703849496106_002b"
                      "recordtype" "article"
                      "title" "Erratum to: {A}n effective interaction potential model for the shape memory alloy {AuCd}"
                      "volume" "23"
                      "year" "2011"}]
 "species" ["Au" "Cd"]
 "title" "Effective Interaction Potential Shifted Morse Model for Au Cd by Guthikonda and Elliott 2011"}
