{
  "title" "Three-body Stillinger-Weber Model Driver for Monolayer MX2"
  "extended-id" "Three_Body_Stillinger_Weber_MX2__MD_242389978788_001"
  "author" "Mingjian Wen"
  "description" "This is a three-body Stillinger-Weber potential model driver that supports transition metal dichalcogenide (TMD) monolayers of the type MX2, with M a transition metal atom (Mo, W etc.) and X a chalcogen atom (S, Se or Te).  This is intended to calculate lattice constants, cohesive energy, elastic constants, linear thermal expansion coefficient and several other material properties."
  "source-citations" [{"author" "Wen, Mingjian and Shirodkar, Sharmila N. and Plech{\\'a}{\\v c}, Petr and Kaxiras, Efthimios and Elliott, Ryan S. and Tadmor, Ellad B."
                       "title" "A force-matching {S}tillinger-{W}eber potential for {Mo}$S_2$: {P}arameterization and {F}isher information theory based sensitivity analysis"
                       "journal" "Journal of Applied Physics"
                       "volume" "122"
                       "number" "24"
                       "pages" "244301"
                       "year" "2017"
                       "doi" "10.1063/1.5007842"
                       "recordtype" "article"
                       "recordkey" "MD_242389978788_000a"}
                       {"author" "Stillinger, Frank H and Weber, Thomas A"
                       "title" "Computer simulation of local order in condensed phases of silicon"
                       "journal" "Physical Review B"
                       "number" "8"
                       "pages" "5262"
                       "publisher" "APS"
                       "volume" "31"
                       "year" "1985"
                       "doi" "10.1103/PhysRevB.31.5262"
                       "recordtype" "article"
                       "recordkey" "MD_242389978788_000b"}
                       {"author" "Tadmor, Ellad B and Miller, Ronald E"
                       "title" "Modeling Materials: {C}ontinuum, Atomistic and Multiscale Techniques"
                       "publisher" "Cambridge University Press"
                       "year" "2011"
                       "recordtype" "book"
                       "recordkey" "MD_242389978788_000c"}]
  "contributor-id" "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"
  "maintainer-id" "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"
  "publication-year" "2018"
  "kim-api-version" "2.0"
  "domain" "openkim.org"
}
