{"author" "Hao"
 "contributor-id" "ea8e6409-6510-463e-99c8-bebd0947f897"
 "description" "This is a Ar Morse Model Parameterization by Jelinek."
 "disclaimer" "None"
 "domain" "openkim.org"
 "extended-id" "Pair_Morse_Sigmoid_Jelinek_Ar__MO_071460865933_000"
 "kim-api-version" "1.6"
 "maintainer-id" "ea8e6409-6510-463e-99c8-bebd0947f897"
 "model-driver" "Pair_Morse_Sigmoid__MD_199191711608_000"
 "publication-year" "2015"
 "source-citations" [{"author" "Jelinek, G. E."
                      "doi" "10.1103/PhysRevB.5.3210"
                      "issue" "8"
                      "journal" "Physical Review B"
                      "month" "Apr"
                      "pages" "3210--3217"
                      "publisher" "American Physical Society"
                      "recordkey" "MO_071460865933_000a"
                      "recordtype" "article"
                      "title" "Properties of Crystalline Argon, Krypton, and Xenon Based Upon the {B}orn-{H}uang Method of Homogeneous Deformations. III. {T}he Low-Temperature Limit"
                      "volume" "5"
                      "year" "1972"}]
 "species" ["Ar"]
 "title" "This is a Ar Morse Model Parameterization by Jelinek"}
