{"author" "Mark R. Gilbert"
 "contributor-id" "c2a3340e-1ed1-47b0-86d1-0fb98fa0375d"
 "description" "EAM potential where the functional form of the pair repuslive and pair density terms is the sum of qunitic splines. The embedding function has a relatively complex functional form - see the original publication by Chiesa et al. J. Condens. Matter 2011."
 "disclaimer" ""
 "domain" "openkim.org"
 "extended-id" "model_driver_PF_quintic_splines__MD_543355979582_002"
 "kim-api-version" "2.0"
 "maintainer-id" "c2a3340e-1ed1-47b0-86d1-0fb98fa0375d"
 "publication-year" "2018"
 "source-citations" [{"author" "S Chiesa and P M Derlet and S L Dudarev and H Van Swygenhoven"
                      "doi" "10.1088/0953-8984/23/20/206001"
                      "journal" "Journal of Physics: Condensed Matter"
                      "number" "20"
                      "pages" "206001"
                      "recordkey" "MD_543355979582_002a"
                      "recordtype" "article"
                      "title" "Optimization of the magnetic potential for $\\alpha$-{F}e"
                      "volume" "23"
                      "year" "2011"}]
 "title" "EAM model driver with qunitic spline functional form of pair repulsive and pair density terms"}
