{"author" "Ellad Tadmor"
 "contributor-id" "360c0aed-48ce-45f6-ba13-337f12a531e8"
 "description" "The exp-6 pair potential has an exponential repulsive term and 1/6 power attractive term. Parameters due to W. Hogervorst for pure Ar and Ne are used. A mixing rule suggested by C. L. Kong and M. R. Chakrabarty is used to compute parameters for cross-interactions between Ar and Ne."
 "disclaimer" ""
 "domain" "openkim.org"
 "extended-id" "Pair_Exp6_Hogervorst_Mixing_Kong_Chakrabarty_ArNe__MO_946046425752_001"
 "kim-api-version" "2.0"
 "maintainer-id" "360c0aed-48ce-45f6-ba13-337f12a531e8"
 "publication-year" "2018"
 "source-citations" [{"author" "W. Hogervorst"
                      "doi" "10.1016/0031-8914(71)90138-8"
                      "issn" "0031-8914"
                      "journal" "Physica"
                      "number" "1"
                      "pages" "77--89"
                      "recordkey" "MO_946046425752_001a"
                      "recordtype" "article"
                      "title" "Transport and equilibrium properties of simple gases and forces between like and unlike atoms"
                      "volume" "51"
                      "year" "1971"}
                     {"author" "Kong, Chang Lyoul and Chakrabarty, Manoj R."
                      "doi" "10.1021/j100640a019"
                      "journal" "The Journal of Physical Chemistry"
                      "number" "22"
                      "pages" "2668--2670"
                      "recordkey" "MO_946046425752_001b"
                      "recordtype" "article"
                      "title" "Combining rules for intermolecular potential parameters. {III}. {A}pplication to the exp 6 potential"
                      "volume" "77"
                      "year" "1973"}]
 "species" ["Ar" "Ne"]
 "title" "Exp-6 pair potential for Ar-Ne with parameters due to Hogervorst and mixing rule due to Kong and Chakrabarty"}
