{"author" "Amit K Singh"
 "contributor-id" "5d8c9931-da7e-48ed-86a5-0da65b7c3f13"
 "description" "This is a four-body Mistriotis-Flytzanis-Farantos potential model driver.  This is intended to calculate lattice constant, cohesive energy, elastic constants, thermal conductivities and several other material properties. The driver can handle maximum two different species."
 "domain" "openkim.org"
 "extended-id" "Four_Body_Mistriotis_Flytzanis_Farantos__MD_514777050453_001"
 "kim-api-version" "1.8"
 "maintainer-id" "5d8c9931-da7e-48ed-86a5-0da65b7c3f13"
 "publication-year" "2018"
 "source-citations" [{"author" "Mistriotis, A. D. and Flytzanis, N. and Farantos, S. C."
                      "doi" "10.1103/PhysRevB.39.1212"
                      "issue" "2"
                      "journal" "Physical Review B"
                      "month" "Jan"
                      "pages" "1212--1218"
                      "publisher" "American Physical Society"
                      "recordkey" "MD_514777050453_001a"
                      "recordtype" "article"
                      "title" "Potential model for silicon clusters"
                      "volume" "39"
                      "year" "1989"}
                     {"author" "E. B. Tadmor and R. E. Miller"
                      "publisher" "Cambridge University Press"
                      "recordkey" "MD_514777050453_001b"
                      "recordtype" "book"
                      "title" "Modeling Materials: {C}ontinuum, Atomistic and Multiscale Techniques"
                      "year" "2011"}]
 "title" "A four-body Mistriotis-Flytzanis-Farantos potential"}
