{"author" "Mark R. Gilbert"
 "contributor-id" "c2a3340e-1ed1-47b0-86d1-0fb98fa0375d"
 "description" "Parameterization by Dudarev and Derlet (J. Phys. Condens. Matter, 2005), for bcc Fe of an EAM cubic splines potential - fitted to various point defect energies and bulk properties. Also includes short-range coulomb potential (and required interpolating function to outer EAM part) - suitable for studying displacement cascades."
 "disclaimer" ""
 "domain" "openkim.org"
 "extended-id" "model_Fe_PF_DudarevDerlet__MO_135034229282_002"
 "kim-api-version" "2.0"
 "maintainer-id" "c2a3340e-1ed1-47b0-86d1-0fb98fa0375d"
 "model-driver" "model_driver_PF_cubic_splines__MD_620624592962_002"
 "publication-year" "2018"
 "source-citations" [{"author" "Dudarev, S. L. and Derlet, P. M."
                      "doi" "10.1088/0953-8984/17/44/003"
                      "journal" "Journal of Physics: Condensed Matter"
                      "number" "44"
                      "pages" "7097"
                      "recordkey" "MO_135034229282_002a"
                      "recordtype" "article"
                      "title" "A `magnetic' interatomic potential for molecular dynamics simulations"
                      "volume" "17"
                      "year" "2005"}
                     {"author" "Dudarev, S. L. and Derlet, P. M."
                      "doi" "10.1088/0953-8984/19/23/239001"
                      "journal" "Journal of Physics: Condensed Matter"
                      "number" "23"
                      "pages" "239001"
                      "recordkey" "MO_135034229282_002b"
                      "recordtype" "article"
                      "title" "Erratum: {A} `magnetic' interatomic potential for molecular dynamics simulations"
                      "volume" "19"
                      "year" "2007"}]
 "species" ["Fe"]
 "title" "Model parameterization for the cubic splines EAM model driver: model_driver_PF_cubic_splines__MD_620624592962_002"}
