{
  "title" "A C-based implementation of the EDIP three-body bond-order potential of Bazant and Kaxiras"
  "extended-id" "EDIP_BOP_C__MD_506186535567_002"
  "author" "Daniel S. Karls"
  "description" "This model driver provides a C-based implementation of the three-body Environment Dependent Interatomic Potential (EDIP) developed by Martin Bazant and Efthemios Kaxiras and published in 1996.  EDIP is a bond-order potential primarily used to simulate a wide variety of structures and defects associated with silicon and carbon.  For more information on EDIP, please see http://web.mit.edu/bazant/www/EDIP/."
  "source-citations" [{"author" "Bazant, Martin Z. and Kaxiras, Efthimios"
                       "title" "Modeling of Covalent Bonding in Solids by Inversion of Cohesive Energy Curves"
                       "journal" "Physical Review Letters"
                       "volume" "77"
                       "issue" "21"
                       "pages" "4370--4373"
                       "year" "1996"
                       "month" "Nov"
                       "publisher" "American Physical Society"
                       "doi" "10.1103/PhysRevLett.77.4370"
                       "url" "https://link.aps.org/doi/10.1103/PhysRevLett.77.4370"}
                      {"author" "Bazant, Martin Z. and Kaxiras, Efthimios and Justo, J. F."
                       "title" "Environment-dependent interatomic potential for bulk silicon"
                       "journal" "Physical Review B"
                       "volume" "56"
                       "issue" "14"
                       "pages" "8542--8552"
                       "year" "1997"
                       "month" "Oct"
                       "publisher" "American Physical Society"
                       "doi" "10.1103/PhysRevB.56.8542"
                       "url" "https://link.aps.org/doi/10.1103/PhysRevB.56.8542"}
                      {"author" "Justo, Jo\\~{a}o F. and Bazant, Martin Z. and Kaxiras, Efthimios and Bulatov, V. V. and Yip, Sidney"
                       "title" "Interatomic potential for silicon defects and disordered phases"
                       "journal" "Physical Review B"
                       "volume" "58"
                       "issue" "5"
                       "pages" "2539--2550"
                       "year" "1998"
                       "month" "Aug"
                       "publisher" "American Physical Society"
                       "doi" "10.1103/PhysRevB.58.2539"
                       "url" "https://link.aps.org/doi/10.1103/PhysRevB.58.2539"}]
  "contributor-id" "4d62befd-21c4-42b8-a472-86132e6591f3"
  "maintainer-id" "4d62befd-21c4-42b8-a472-86132e6591f3"
  "publication-year" "2018"
  "kim-api-version" "2.0"
  "domain" "openkim.org"
}
